# Production
NEXT_PUBLIC_API_URL=https://beyondclassroom-backend.onrender.com/api
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_live_SRVzzcULeXSVOl

# Local development
# NEXT_PUBLIC_API_URL=http://localhost:5000/api
